html{
    height: 100%;
}
body{
    background-color: rgba(255, 255, 255, 0.993);
    font-family: Roboto,Arial;
    font-size: 15;
    font-weight: bold;
    color: rgb(2, 1, 1);
    height: 1000px;
    width: 1800px;
}
img{
    width: 100%;
    height: 100%;
}
.body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
    height: 970px;
    width: 100%;
}

    .header{
    border: none;
    width: 500px;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    zoom: .6;
    border-color: rgb(134, 41, 41);
    background-color: rgba(207, 33, 33, 0.699);
    box-shadow: 0px 0px 10px 10px rgba(29, 207, 207, 0.507);
}

        .Take-to-game{
            background-color: rgb(255, 255, 255);
            color: rgba(207, 33, 33, 0.699);
            border: none;
            width: 100%;
            height: 50px;
            border-radius: 0px;
            text-align: center;
            font-size: 40px;
            margin-top: 0px;
            box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
            cursor: pointer;
        }
        .Take-home{
            background-color: rgb(255, 255, 255);
            color: rgba(207, 33, 33, 0.699);
            border: none;
            width: 100%;
            height: 50px;
            border-radius: 0px;
            text-align: center;
            font-size: 40px;
            margin-top: 100px;
            box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
            cursor: pointer;
        }
    /* Graphics card list will go here*/
    .Options{
    border: none;
    height: 100%;
    width: 2000px;
    border-color: rgb(172, 14, 14);
    background-color: rgba(207, 33, 33, 0.699);
    margin: 0px;
    display: inline-flex;
    flex-direction: column;
    zoom: .7;
    box-shadow: 0px 0px 10px 10px rgba(29, 207, 207, 0.507);
}

    .Graphics-cards{
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        border: none;
        border-color: rgb(0, 0, 0);
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
}  

table {
    font-family: arial, sans-serif;
    border-collapse:collapse;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content:space-evenly
  }
  
  th {
    border: 1px solid #050404;
    text-align: center;
    padding: 20px;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(177, 176, 176);
  }
  
  td{
    border: 1px solid #050404;
    background-color: yellow ;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
  

  ._30-series{
    width: 100%;
    height: 100%;
    border: none;
    border-color: rgb(34, 243, 27);
    background-color: rgb(21, 233, 134);
}


._40-series{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    border: none;
    border-color: rgb(90, 26, 194);
    background-color: rgb(209, 160, 24);
}