body{
    background-color: rgb(255, 255, 255);
    font-family: Roboto,Arial;
    font-size: 15;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0px;
    }  
       /* Images */
   img{
    width: 100%;
    height: 100%;
   }
   p{
    margin: 0px;
    height: 100%;
    width: 100%;
   }
   /*header*/
   .header{
    border: none;
    border-color: rgb(201, 169, 26);
    background-color: rgb(70, 70, 121);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    height: 70px;
    width: 100%;
    margin: 0px;
    display: inline-flex;
    flex-direction: row;
    flex: 1;
   }
  
  
   .Left-side-title{
    text-align: left;
    border: none;
    margin: 0px;
    height: 100%;
    width: 700px;
    margin-top: 0px;
    display: inline-flex;
    flex: 1;
    justify-content: flex-start;
   }
   
   .title{
    height: 100%;
    width: 100%;
    border: none;
    border-color: rgb(255, 13, 13);
    font-family: Roboto;
    font-size:inherit;
    color: white;
    text-shadow: 3px 3px purple;
    margin: 0px;
    font-size: 50px;
    cursor: pointer;
    display: flex;
    flex: 1;
   }

   /* Pages */
  
    .take-to{
      border: none;
      border-color: black;
      width: 100%;
      height: 100%;
      vertical-align: top;
      display: inline-flex;
      flex-direction: row;
      margin: 0px;
      justify-content: space-evenly;
      flex: 1;
    }
  
   .Take-to-cards{
    background-color: rgb(70, 70, 121);
    color: rgb(255, 255, 255);
    border: none;
    border-right: none;
    width: 200px;
    height: 25px;
    border-radius: 0px;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
  }
  
  .Take-to-cards:hover{
    color: purple;
    background-color: rgb(255, 255, 255);
  }
  
  .Dictionary{
    background-color: rgb(70, 70, 121);
    color: rgb(255, 255, 255);
    border: none;
    border-right: none;
    width: 200px;
    height: 25px;
    border-radius: 0px;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
  }
  .Dictionary:hover{
    color: purple;
    background-color: rgb(255, 255, 255);
  }
  
  .About{
    background-color: rgb(70, 70, 121);
    color: rgb(255, 255, 255);
    border: none;
    border-right: none;
    width: 200px;
    height: 25px;
    border-radius: 0px;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
  }
  .About:hover{
    color: purple;
    background-color: rgb(255, 255, 255);
  }
  
  .Creator{
    background-color: rgb(70, 70, 121);
    color: rgb(255, 255, 255);
    border: none;
    border-right: none;
    width: 200px;
    height: 25px;
    border-radius: 0px;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
  }
  .Creator:hover{
    color: purple;
    background-color: rgb(255, 255, 255);
  }
  
  .Shop{
    background-color: rgb(70, 70, 121);
    color: rgb(255, 255, 255);
    border: none;
    border-right: none;
    width: 200px;
    height: 25px;
    border-radius: 0px;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
  }
  .Shop:hover{
    color: purple;
    background-color: rgb(255, 255, 255);
  }


  .form{
    margin-top: 15px;
    border: none;
    border-color: black;
    width: 100%;
    height:770px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    color: white;
  }
    .form-left-side{
      border: solid;
      border-right: none;
      border-color: purple;
      background-color: rgb(70, 70, 121);
      width: 550px;
      height:100%;
      text-align: left;
      font-family: Roboto;
      font-size: 25px;
      display: inline-flex;
      flex-direction: column;
    }
    .head{
      margin: 0px;
      border: none;
      border-color: black;
    }
    .email{
      margin-top:50px;
      border: none;
      border-color: black;
      height: 100px;
    }
    .number{
      margin-top: 90px;
      border: none;
      border-color: black;
      height: 100px;
    }
    .location{
      margin-top: 100px;
      border: none;
      border-color: black;
      height: 100px;
    }
      .form-right-side{
        border: solid;
        border-left: none;
        border-color: purple;
        background-color: #f2f2f2;
        color: black;
        width: 550px;
        height:100%;
        text-align: left;
        font-family: Roboto;
        font-size: 25px;
        display: inline-flex;
        flex-direction: column;
      }
      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: none;
      }
      
      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }